
textarea.input-div#input-div
br
.keyboard#keyboard
  - for(var i = 0; i < 4; i++){
    div(class="row",id="row-#{i}")
      .col-half
      - for(var j = 0; j < 15; j++){
        - if(j == 0 && i != 0){
            div(class="col-2",id="col-#{i+''+j}")
            - j++
        - }else if(i == 2 && j== 13){
            div(class="col-2",id="col-#{i+''+j}") 
            - j++
        - }else if(i == 3 && j== 12){
            div(class="col-3",id="col-#{i+''+j}") 
            - j += 2
        - }else{
            div(class="col-1",id="col-#{i+''+j}") 
        - }
      - }
      .col-half
  - }      
  div(class="row",id="row-4")
    .col-half
    .col-3.col-none
    .col-1#col-43
    .col-4#col-44
    .col-2#col-48
    .col-2#col-410
    .col-3.col-none
    .col-half 
